@font-face {
    font-family: 'Graphik LCG';
    src: url('/fonts/subset-GraphikLCG-Semibold.eot');
    src: url('/fonts/subset-GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/subset-GraphikLCG-Semibold.woff2') format('woff2'),
        url('/fonts/subset-GraphikLCG-Semibold.woff') format('woff'),
        url('/fonts/subset-GraphikLCG-Semibold.ttf') format('truetype'),
        url('/fonts/subset-GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('/fonts/subset-GraphikLCG-Regular.eot');
    src: url('/fonts/subset-GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/subset-GraphikLCG-Regular.woff2') format('woff2'),
        url('/fonts/subset-GraphikLCG-Regular.woff') format('woff'),
        url('/fonts/subset-GraphikLCG-Regular.ttf') format('truetype'),
        url('/fonts/subset-GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/subset-Roboto-Regular.eot');
    src: url('/fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('/fonts/subset-Roboto-Regular.woff') format('woff'),
        url('/fonts/subset-Roboto-Regular.ttf') format('truetype'),
        url('/fonts/subset-Roboto-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    line-height: 30px;
}

.header {
    background-color: rgba(255, 255, 255, 1);
    padding: 25px 0 24px;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
}

.container {
    width: 1290px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.logo-list {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
}

.logo {
    margin-right: 51px;
}

.logo-pic {
    display: block;
}

.link {
    font-size: 15px;
    line-height: 20px;
    text-decoration-line: none;
    margin-right: 57px;
    color: rgba(0, 0, 0, 1);
}

.margin-more {
    margin-right: 49px;
}

.margin-less {
    margin-right: 42px;
}

.margin-none {
    margin-right: 0;
}

.links {
    display: flex;
}

.button {
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-decoration-line: none;
    background-color: rgba(255, 99, 54, 1);
    color: rgba(255, 255, 255, 1);
    padding: 0 26px 0 27px;
}

.white {
    margin-right: 10px;
    padding: 0 38px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 0.5);
    line-height: 43px;
}

.accelerate {
    background-color: rgba(255, 255, 255, 1);
    padding: 128px 0 172px;
}

.localization {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.main-text {
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    margin-bottom: 51px;
}

.desc {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 50px;
}

.link-wrap {
    display: flex;
    margin-bottom: 25px;
}

.ad-text {
    font-size: 15px;
    line-height: 25px;
}

.swap {
    line-height: 60px;
    margin-right: 10px;
    padding: 0 44px;
}

.white-change {
    margin-right: 0;
    line-height: 58px;
    padding: 0 29px;
}

.big-picture {
    padding: 22px 0 10px;
}

.big-image {
    display: block;
}

.companies {
    background-color: rgba(255, 156, 125, 1);
    padding: 108px 0 104px;
}

.flex-company {
    display: flex;
    flex-direction: column;
}

.company-text {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 70px;
}

.images-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

