@font-face {
    font-family: 'GraphikLCG';
    src: url('/fonts/subset-GraphikLCG-Semibold.eot');
    src: url('/fonts/subset-GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/subset-GraphikLCG-Semibold.woff2') format('woff2'),
        url('/fonts/subset-GraphikLCG-Semibold.woff') format('woff'),
        url('/fonts/subset-GraphikLCG-Semibold.ttf') format('truetype'),
        url('/fonts/subset-GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GraphikLCG';
    src: url('/fonts/subset-GraphikLCG-Regular.eot');
    src: url('/fonts/subset-GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/subset-GraphikLCG-Regular.woff2') format('woff2'),
        url('/fonts/subset-GraphikLCG-Regular.woff') format('woff'),
        url('/fonts/subset-GraphikLCG-Regular.ttf') format('truetype'),
        url('/fonts/subset-GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/subset-Roboto-Regular.eot');
    src: url('/fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('/fonts/subset-Roboto-Regular.woff') format('woff'),
        url('/fonts/subset-Roboto-Regular.ttf') format('truetype'),
        url('/fonts/subset-Roboto-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Graphik LCG', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    font-size: 20px;
    line-height: 30px;
}

.header {
    padding: 25px 0 24px;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
}

.container {
    width: 1290px;
    margin: 0 auto;
}

.head {
    width: 1338px;
}

.flex {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-bar {
    margin-right: auto;
}

.logo {
    margin-right: 51px;
}

.logo-pic {
    display: block;
}

.link {
    font-size: 15px;
    line-height: 20px;
    text-decoration-line: none;;
    color: rgba(0, 0, 0, 1);
}

.item {
    margin-right: 57px
}

.margin-less {
    margin-right: 42px;
}

.margin-none {
    margin-right: 0;
}

.links {
    display: flex;
}

.button {
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-decoration-line: none;
    background-color: rgba(255, 99, 54, 1);
    color: rgba(255, 255, 255, 1);
    padding: 0 24px 0 24px;
}

.white {
    margin-right: 10px;
    padding: 0 35px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.5);
    line-height: 43px;
}

.accelerate {
    padding: 128px 0 172px;
}

.big {
    width: 1298px;
}

.localization {
    display: flex;
    flex-direction: column;
    width: 517px;
    margin: 0 auto 0 0;
}

.main-text {
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    margin-bottom: 51px;
    width: 517px;
}

.desc {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 50px;
    width: 469px;
}

.link-wrap {
    display: flex;
    margin-bottom: 25px;
}

.ad-text {
    font-size: 15px;
    line-height: 25px;
}

.swap {
    line-height: 60px;
    margin-right: 10px;
    padding: 0 44px;
}

.white-change {
    margin-right: 0;
    line-height: 58px;
    padding: 0 29px;
}

.big-image {
    display: block;
}

.companies {
    background-color: rgba(255, 156, 125, 1);
    padding: 108px 0 104px;
}

.company-flex {
    flex-direction: column;
}

.company-text {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    width: 713px;
    margin: 0 0 70px 112px;
}

.images-wrap {
    display: flex;
    align-items: center;
}

.company-pic {
    display: block;
}

.company-item {
    margin-right: 103px;
}

.daimler {
    margin-right: 0;
}

.giant-cards {
    padding: 90px 0 150px;
}

.giant-list {
    display: flex;
    flex-direction: column;
}

.giant-li {
    display: flex;
    align-items: center;
    margin-bottom: 250px;
}

.push {
    margin-right: auto;
}

.giant-text {
    text-align: unset;
    margin: 0 0 30px;
    width: 478px;
}

.giant-desc {
    margin-bottom: 30px;
    width: 445px;
}

.giant-text-wrap {
    width: 478px;
}

.text-market {
    width: 366px;
}

.giant-pic {
    display: block;
}

.text-link {
    color: rgba(0, 0, 0, 1);
}

.giant-link {
    font-weight: 600;
    text-decoration-line: none;
    color: rgba(0, 0, 0, 1);
}

.no-bottom {
    margin-bottom: 0;
}

.localize {
    background-color: rgba(255, 248, 228, 1);
    padding: 120px 0 147px;
}

.flex-localize {
    flex-direction: column;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-item {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 110px 54px 0;
    padding: 21px 0 0;
}

.card-item:nth-of-type(3n) {
    margin-right: 0;
}

.card-item:nth-last-of-type(-n+3) {
    margin-bottom: 0;
}

.localize-heading {
    width: unset;
    margin: 0 auto 58px;
}

.localize-pic {
    margin-bottom: 23px;
}

.localize-text {
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 23px;
}

.localize-desc {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    width: 302px;
}