@font-face {
    font-family: 'GraphikLCG';
    src: url('/fonts/subset-GraphikLCG-Semibold.eot');
    src: url('/fonts/subset-GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/subset-GraphikLCG-Semibold.woff2') format('woff2'),
        url('/fonts/subset-GraphikLCG-Semibold.woff') format('woff'),
        url('/fonts/subset-GraphikLCG-Semibold.ttf') format('truetype'),
        url('/fonts/subset-GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GraphikLCG';
    src: url('/fonts/subset-GraphikLCG-Regular.eot');
    src: url('/fonts/subset-GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/subset-GraphikLCG-Regular.woff2') format('woff2'),
        url('/fonts/subset-GraphikLCG-Regular.woff') format('woff'),
        url('/fonts/subset-GraphikLCG-Regular.ttf') format('truetype'),
        url('/fonts/subset-GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/subset-Roboto-Regular.eot');
    src: url('/fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('/fonts/subset-Roboto-Regular.woff') format('woff'),
        url('/fonts/subset-Roboto-Regular.ttf') format('truetype'),
        url('/fonts/subset-Roboto-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Graphik LCG', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    font-size: 20px;
    line-height: 30px;
}

.header {
    padding: 25px 0 24px;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
}

.container {
    width: 1290px;
    margin: 0 auto;
}

.head {
    width: 1338px;
}

.flex {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-bar {
    margin-right: auto;
}

.logo {
    margin-right: 51px;
}

.logo-pic {
    display: block;
}

.link {
    font-size: 15px;
    line-height: 20px;
    text-decoration-line: none;;
    color: rgba(0, 0, 0, 1);
}

.item {
    margin-right: 57px
}

.margin-less {
    margin-right: 42px;
}

.margin-none {
    margin-right: 0;
}

.links {
    display: flex;
}

.button {
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-decoration-line: none;
    background-color: rgba(255, 99, 54, 1);
    color: rgba(255, 255, 255, 1);
    padding: 0 24px 0 24px;
}

.white {
    margin-right: 10px;
    padding: 0 35px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.5);
    line-height: 43px;
}

.accelerate {
    padding: 128px 0 172px;
}

.big {
    width: 1298px;
}

.localization {
    display: flex;
    flex-direction: column;
    width: 517px;
    margin: 0 auto 0 0;
}

.main-text {
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    margin-bottom: 51px;
    width: 517px;
}

.desc {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 50px;
    width: 469px;
}

.link-wrap {
    display: flex;
    margin-bottom: 25px;
}

.ad-text {
    font-size: 15px;
    line-height: 25px;
}

.swap {
    line-height: 60px;
    margin-right: 10px;
    padding: 0 44px;
}

.white-change {
    margin-right: 0;
    line-height: 58px;
    padding: 0 29px;
}

.big-image {
    display: block;
}

.companies {
    background-color: rgba(255, 156, 125, 1);
    padding: 108px 0 104px;
}

.company-flex {
    flex-direction: column;
}

.company-text {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    width: 713px;
    margin: 0 0 70px 112px;
}

.images-wrap {
    display: flex;
    align-items: center;
}

.company-pic {
    display: block;
}

.company-item {
    margin-right: 103px;
}

.daimler {
    margin-right: 0;
}

.giant-cards {
    padding: 90px 0 150px;
}

.giant-list {
    display: flex;
    flex-direction: column;
}

.giant-li {
    display: flex;
    align-items: center;
    margin-bottom: 250px;
}

.push {
    margin-right: auto;
}

.giant-text {
    text-align: unset;
    margin: 0 0 30px;
    width: 478px;
}

.giant-desc {
    margin-bottom: 30px;
    width: 445px;
}

.giant-text-wrap {
    width: 478px;
}

.giant-market {
    margin-top: 18px;
}

.giant-quality {
    margin-top: -5px;
}

.text-market {
    width: 366px;
}

.giant-pic {
    display: block;
}

.text-link {
    color: rgba(0, 0, 0, 1);
}

.giant-link {
    font-weight: 600;
    text-decoration-line: none;
    color: rgba(0, 0, 0, 1);
}

.no-bottom {
    margin-bottom: 0;
}

.localize {
    background-color: rgba(255, 248, 228, 1);
    padding: 120px 0 147px;
}

.flex-localize {
    flex-direction: column;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-item {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 110px 54px 0;
    padding: 21px 0 0;
}

.card-item:nth-of-type(3n) {
    margin-right: 0;
}

.card-item:nth-last-of-type(-n+3) {
    margin-bottom: 0;
}

.localize-heading {
    width: unset;
    margin: 0 auto 58px;
}

.localize-pic {
    margin-bottom: 23px;
}

.localize-text {
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 23px;
    text-align: center;
}

.localize-desc {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    width: 302px;
}

.boost {
    padding: 154px 0 187px;
}

.flex-boost {
    flex-direction: column;
    align-items: flex-start;
}

.boost-heading {
    width: unset;
    margin: 0 0 25px;
    text-align: start;
}

.boost-list {
    justify-content: flex-start;
}

.boost-item {
    align-items: flex-start;
    width: 378px;
    margin-right: 78px;
    padding: 0;
}

.boost-text {
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 34px;
}

.boost-desc {
    margin-bottom: 25px;
}

.powerful-api {
    color: rgba(0, 0, 0, 1);
}

.boost-pic {
    margin: 50px 0 49px;
}

.dev {
    margin: 67px 0;
}

.translate {
    margin: 58px 0 59px;
}

.revolut {
    background-color: rgba(201, 232, 242, 1);
    padding: 53px 0 105px;
}

.flex-revolut {
    align-items: flex-start;
}

.quote {
    margin-right: auto;
    padding: 10px 0 0;
}

.quote-text {
    width: 838px;
    font-weight: 400;
    margin: 0 0 23px;
    position: relative;
}

.quote-text::before {
    content: "“";
    position: absolute;
    left: -11px;
}

.quote-text::after {
    content: "”";
    position: absolute;
    right: 35px;
}

.cite {
    margin-bottom: 7px;
}

.revolut-pic {
    display: block;
}

.cake {
    background-color: rgba(218, 188, 152, 1);
    padding: 79px 0 84px;
}

.cake-wrap {
    width: 1330px;
    align-items: unset;
}

.cakes {
    margin: 0 67px 0 0;
}

.cake-heading {
    width: 448px;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
}

.capterra-wrap {
    padding: 30px 82px 22px 70px;
    border-left: 1px solid rgba(0, 0, 0, 1);
    display: flex;
}

.g-two {
    margin: 0 70px 0 0;
}

.cake-block {
    display: flex;
    align-items: center;
    padding: 14px 0 0;
    margin: 0 auto 0 0;
}

.integrate {
    background-color: rgba(255, 255, 255, 1);
    padding: 165px 0 162px;
}

.flex-cake {
    flex-direction: column;
}

.integrate-text {
    width: 858px;
    margin: 0;
    line-height: 75px;
    text-align: center;
}

.integrate-desc {
    margin: 0 0 25px;
    font-weight: 400;
    font-size: 25px;
    width: 546px;
    text-align: center;
}

.bird {
    margin: 0 0 32px;
}

.integrate-button {
    line-height: 60px;
    padding: 0 23px 0;
}

.wait {
    background-color: rgba(255, 156, 125, 1);
    padding: 119px 0 161px;
}

.wait-text {
    font-weight: 600;
    font-size: 65px;
    margin: 0 0 29px;
    width: 784px;
}

.wait-desc {
    text-align: center;
    width: 438px;
    margin: 0 0 54px;
}

.wait-button {
    background-color: rgba(0, 0, 0, 1);
    font-size: 17px;
    line-height: 60px;
    padding: 0 41px 0 42px;
}

.footer {
    background-color: rgba(238, 238, 238, 1);
    padding: 92px 0 48px;
}

.footer-flex {
    align-items: unset;
}

.studies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 140px 0 0;
}

.foot-list {
    display: flex;
}

.footer-heading {
    font-size: 40px;
    width: 300px;
    margin: 0 0 28px;
}

.bike {
    margin: 0 0 31px;
}

.specialized-small {
    margin: 0 0 11px;
}

.footer-desc {
    margin: 0 0 15px;
    width: 300px;
}

.specialized-link-small {
    display: contents;
}

.foot-list-heading {
    line-height: 25px;
    font-weight: 600;
    margin: 0 0 21px;
}

.sub-foot-list {
    font-weight: 400;
}

.sub-foot-item {
    margin: 0 0 15px;
    width: 175px;
    font-size: 15px;
    line-height: 15px;
}

.sub-foot-item:last-of-type {
    margin-bottom: 0;
}

.foot-link {
    line-height: 15px;
}

.foot-item {
    margin: 0 50px 0 0;
}

.foot-item:last-of-type {
    margin-right: 0;
}

.foot-bar {
    padding: 5px 0 0;
}

.bottom {
    margin-top: 95px;
    border-top: 1px solid rgba(0, 0, 0, 1);
    padding: 47px 76px 0 0;
    align-items: unset;
}

.localise-bottom-link {
    margin: 0 14px 0 0;
    background-image: url('../images/lokalise.png');
    width: 90px;
    height: 21px;
}

.bottom-text {
    font-size: 12px;
    line-height: 15px;
    margin-right: auto;
    width: 277px;
}

.copyright {
    margin: 0;
    width: unset;
}